:root {
  --white: #fff;
  --black-black-04: #f6f6f6;
  --black-black-10: #e5e5e5;
  --black-black-20: #cbcccc;
  --black-black-40: #999999;
  --black-black-50: #898989;
  --black-black-60: #717171;
  --black-black-70: #4d4d4d;
  --black-black-80: #414141;
  --black-black-90: #2a2a2a;
  --black-primary-black: #111212;
  --green-green-80: #33b4b0;
  --green-primary: #00a19c;
}

@mixin Title-M-Bold {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

@mixin Title-M-Regular {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

@mixin Title-S-Bold {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

@mixin Title-S-Regular {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

@mixin Title-XS-Bold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin Title-XS-Regular {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@mixin Subtitle-XL-Bold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin Subtitle-L-Bold {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin Subtitle-L-Regular {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin Subtitle-M-Bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@mixin Subtitle-M-Medium {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

@mixin Subtitle-M-Regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@mixin Subtitle-S-Bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@mixin Subtitle-S-Regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin Subtitle-XS-Medium {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@mixin Subtitle-XS-Regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin Body-XL-Bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@mixin Body-XL-Regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@mixin Body-L-Regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin Body-M-Regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin Body-S-Bold {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@mixin Body-S-Regular {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin Body-XS-Regular {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@mixin button-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin button-text-large {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@mixin error-page-title {
  font-size: 120px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: -2.4px;
}

$color-main: #3f3f41;

$color-second: #00a19c;
$color-second-light: #00aba5;
$color-second-lighter: #00b5af;
$color-second-lightest: #33b4b0;

$color-white: #fff;
$color-white-light: #fafaff;
$color-white-lighter: #f0f2f2;

$color-gray: #868789;
$color-gray-dark: #6b6f6e;
$color-gray-light: #b3baba;
$color-gray-lighter: #a7b0b0;

$color-light-gray: #e3e5e5;
$color-light-gray-light: #f3f3f3;
$color-light-gray-lighter: #f0f0f5;
$color-light-gray-darker: #c4cccc;
$color-light-gray-darkest: #c4c4c4;

$color-blue: #18243c;

$color-black: #000;
$color-black-light: #1b1c1c;
$color-black-lighter: #2c2c2c;

$color-burger-menu: #414042;
$color-footer-social-background: #444d4c;
$color-footer-social-background-hover: #5b6665;

//fonts

$font-main: 'Roboto', 'Arial', sans-serif;
$font-main-size: 14px;
$font-main-line-height: 20px;

//borders

$button-border: 2px solid $color-second;
$button-border-hover: 2px solid $color-second-light;
$button-border-active: 2px solid $color-second-lighter;
$fields-border: 1px solid $color-light-gray;
$fields-border-hover: 1px solid $color-gray-lighter;
$card-border: 1px solid $color-light-gray-darker;
$burger-button-border: 1px solid $color-burger-menu;

//// fonts
//$font-main:
//  'Roboto',
//  system-ui,
//  -apple-system,
//  BlinkMacSystemFont,
//  'Segoe UI',
//  Roboto,
//  Oxygen,
//  Ubuntu,
//  Cantarell,
//  'Open Sans',
//  'Helvetica Neue';

//transitions

$transition-1: all 0.3s ease-in-out;

//z-index

$menu: 10;
