$transition-1: all 0.3s ease-in-out;

@mixin TitleMBold {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

@mixin TitleMRegular {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

@mixin TitleSBold {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

@mixin TitleSRegular {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

@mixin TitleXSBold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin TitleXSRegular {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@mixin SubtitleXLBold {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin SubtitleLBold {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin SubtitleLRegular {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin SubtitleMBold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@mixin SubtitleMMedium {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

@mixin SubtitleMRegular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@mixin SubtitleSBold {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@mixin SubtitleSRegular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin SubtitleXSMedium {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@mixin SubtitleXSRegular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin BodyXLBold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@mixin BodyXLRegular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@mixin BodyLRegular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin BodyMRegular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin BodySBold {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@mixin BodySRegular {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin BodyXSRegular {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@mixin buttonText {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin buttonTextLarge {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@mixin errorPageTitle {
  font-size: 120px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: -2.4px;
}

//fonts

$font-main: 'Roboto', 'Arial', sans-serif;
$font-main-size: 14px;
$font-main-line-height: 20px;

// z-index
$z-header: 10;
